<!DOCTYPE html>

<html ng-app="gemStore">

<head>
    <title>Gem Store</title>
    <link rel="stylesheet" type="text/css" href="_css/main.css">
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js"></script>
    <script src="_js/app.js"></script>
</head>

<body>

    <div ng-controller="LessonController as lesson">
        <h1>Vocab</h1>
        <div class="lesson row" ng-repeat="vocab in lesson.vocab">
            <h3>
        {{vocab.name}}: 
        <em class="pull-right">{{vocab.data}}</em>
        </h3>
        </div>
        <h1>Directives</h1>
        <div class="lesson row" ng-repeat="directive in lesson.directives">
            <h3>
        {{directive.name}}: 
        <em class="pull-right">{{directive.data}}</em>
        </h3>
        </div>
    </div>

    <div ng-controller="StoreController as store">
        <h1>Gem Store!</h1>
        <div class="product row" ng-repeat="product in store.products">
            <h3>{{product.name}}
                <em class="pull-right">{{product.price}}</em>
            </h3>
            <button ng-show="product.canPurchase"> Add to Cart </button>
        </div>
    </div>
</body>

</html>